@import 'staticVars.scss';
@import 'reset.scss';

#el_DZ_1, #el_DZ_2 { 

	float: left; 
	margin: 10px; 
	padding: 10px 2px 6px 10px; 
	border: 1px solid #717171; 

	max-width: 174px; min-width: 174px; max-height: 174px; min-height: 174px;
	width: 174px\9; height: 174px\9; 
	*width: 174px; *height: 174px; 
	_width: 174px; _height: 174px;

	.back_n_forth { 
		// padding: 0 2px 0 2px; 
		padding: 2px; 
	}

} 
